
/*------------------------------Taula-----------------------------*/

table{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 700px;
    height: 500px;
    margin-top: 60px;
}

.imatgellista{
    width: 150px;
    height: 150px;
}

.descripcio{
    padding-bottom: 5px;
    margin-bottom: 10px;

}

/*----------------------------Fi taula------------------------------*/