@charset "utf-8";

@import url("../layout/styles/navi.css");
@import url("../layout/styles/forms.css");
@import url("../layout/styles/tables.css");
@import url("../layout/styles/homepage.css");
@import url("../layout/styles/gallery.css");
@import url("../layout/styles/portfolio.css");

html{
    overflow-y:scroll;
}
/*-------------------------Background i body--------------------*/
body{
    margin:0;
    padding:0;
    font-size:12px;
    font-family:Georgia, "Times New Roman", Times, serif;
    background-image: url("https://i.pinimg.com/originals/d4/b5/fe/d4b5fe697338e63b0d945a99ce455617.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------Final background i body------------*/
.justify{
    text-align:justify;
}


.bold{
    font-weight:bold;
}

.center{
    text-align:center;
}

.right{
    text-align:right;
}

.nostart{
    margin:0;
    padding:0;
    list-style-type:none;
}


.clear{
    clear:both;

}
br.clear{
    clear:both;
    margin-top:-15px;

}

a{
    outline:none;
    text-decoration:none;
    color: cadetblue;

}

.fl_left, .imgl{
    float:left;
}

.fl_right, .imgr{
    float:right;
}

img{
    display:block;
    margin:0;
    padding:0;
    border:none;

}

.imgl, .imgr{
    border:1px solid #C7C5C8;
    padding:5px;
}

.imgl {
    margin:0 8px 8px 0;
    clear:left;
}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; margin:0 0 1px 0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #topbar, #topnav, #etsaqui, .container, #footer, #copyright{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Part inici titol------------------------------------- */

#header{
    text-align:center;
    text-transform:uppercase;
}

#header h1, #header p{
    margin:0;
    padding:0;
    list-style:none;
    line-height:normal;
}

#header h1 a{
    font-size:150px;
    color:#292929;

}

#header p{margin-top:-20px;
    font-size:20px;
    color:#4A4A4A;
    background-color:#E0E0E0;
}

/* ----------------------------------------------Topbar------------------------------------- */

#topbar{
    padding:15px 0;
    border-bottom:1px solid black;
}

#topbar .fl_left{
    margin:8px 0 0 0;
    padding:0;
}

#topbar .fl_left, #topbar .fl_left a{
    color:black;
    background-color: cadetblue;
}

/* ----------------------------------------------BreadCrumb------------------------------------- */

#etsaqui{
    padding:20px 0;
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
}

#etsaqui ul{
    margin:0;
    padding:0;
    list-style:none;
}

#etsaqui ul li{
    display:inline;
}

#etsaqui ul li.current a{
    text-decoration:underline;
}

/* ----------------------------------------------Content------------------------------------- */

.container{
    padding:30px 0;
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
}

.whitebox{
    padding:30px;
    color:#999999;
    background-color:cadetblue;
    border-radius:20px;
}

.whitebox a{color:#FFFFFF;
    background-color:cadetblue;
}

.content{display:block;
    float:left;
    width:600px;
}


/* Comments */

#comments{
    margin-bottom:40px;
}
#comments .commentlist {
    margin:0; padding:0;
}

#comments .commentlist ul{
    margin:0;
    padding:0;
    list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{
    margin:0 0 10px 0;
    padding:15px;
    list-style:none;
}

#comments .commentlist li.comment_odd{
    color:#666666;
    background-color:#F7F7F7;
}
#comments .commentlist li.comment_odd a{
    color:#A3443E;
    background-color:#F7F7F7;
}
#comments .commentlist li.comment_even{
    color:#666666;
    background-color:#E8E8E8;
}

#comments .commentlist li.comment_even a{color:#A3443E;
    background-color:#E8E8E8;
}

#comments .commentlist .author .name{font-weight:bold;
}

#comments .commentlist .submitdate{font-size:smaller;
}

#comments .commentlist p{margin:10px 5px 10px 0;
    padding:0;
    font-weight:normal;
    text-transform:none;
}

#comments .commentlist li .avatar{float:right;
    border:1px solid #EEEEEE;
    margin:0 0 0 10px;
}


/* ----------------------------------------------Column------------------------------------- */

.column{
    display:block;
    float:right;
    width:270px;
}

.column .holder, .column #featured{
    display:block;
    width:270px;
    margin-bottom:20px;
}

.column .holder h2.title{
    display:block;
    width:100%;
    height:65px;
    margin:0;
    padding:15px 0 0 0;
    font-size:20px;
    line-height:normal;
    border-bottom:1px dotted #999999;
}

.column .holder h2.title img{
    float:left;
    margin:-15px 8px 0 0;
    padding:5px;
    border:1px solid #999999;
}

.column div.imgholder{
    display:block;
    width:260px;
    margin:0 0 10px 0;
    padding:4px;
    border:1px solid #999999
}

.column .holder p.readmore{
    display:block;
    width:100%;
    font-weight:bold;
    text-align:right;
    line-height:normal;
}

/* Featured Block */

.column #featured ul, .column #featured h2, .column #featured p{
    margin:0;
    padding:0;
    list-style:none;
    color:#666666;
    background-color:#F9F9F9;
}

.column #featured a{
    color:#A3443E;
    background-color:cadetblue;
}

.column #featured li {
    display:block;
    width:220px;
    margin:0;
    padding:20px 25px;
    color:#666666;
    background-color:#F9F9F9;
}

.column #featured li p.imgholder{
    display:block;
    width:210px;
    height:90px;
    margin:20px 0 15px 0;
    padding:4px;
    border:1px solid #CCCCCC;
}

.column #featured li h2{
    margin:0;
    padding:0 0 8px 0;
    font-weight:normal;
    font-family:Georgia, "Times New Roman", Times, serif;
    line-height:normal;
    border-bottom:1px dotted #999999;
}

.column #featured p.readmore{
    display:block;
    width:100%;
    margin-top:15px;
    font-weight:bold;
    text-align:right;
    line-height:normal;
}

.column .latestnews{
    display:block
; width:100%;
    margin:0;
    padding:0;
    list-style:none;
}

.column .latestnews li{
    display:block;
    width:100%;
    height:99px;
    margin:0 0 11px 0;
    padding:0 0 21px 0;
    border-bottom:1px dotted #C7C5C8;
    overflow:hidden;
}

.column .latestnews li.last{
    margin-bottom:0;
}

.column .latestnews p{
    display:inline;
}

.column .latestnews img{
    float:left;
    margin:0 10px 0 0;
    padding:4px;
    border:1px solid #C7C5C8;
    clear:left;
}


/* ----------------------------------------------Footer------------------------------------- */

#footer{
    padding:20px 0;
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
}

#footer a{
    color:#FFFFFF;

}

#footer h2, #footer p, #footer ul, #footer a{
    margin:0;
    padding:0;
    font-weight:normal;
    list-style:none;
    line-height:normal;
}
#footer > div.latestgallery > ul > li > a > img{
    width: 92px;
    height: 92px;
}

#footer h2{
    color:black;
    background-color:cadetblue;
    font-size:16px;
    font-weight:normal;
    margin-bottom:10px;
    padding-bottom:6px;
    border-bottom:1px dotted black;
    border-radius: 20px;
    text-align: center;
}

#footer .latestgallery{display:block;
    float:left;
    width:420px;
    margin:0;
    padding:0;
}

#footer .latestgallery li{
    display:block;
    float:left;
    width:80px;
    height:80px;
    margin:15px 17px 0 0;
    padding:5px;
    color:#333333;
    background-color:cadetblue;
    border:1px solid #B4B4B4;
}

#footer .footbox{
    display:block;
    float:left;
    width:220px;
    margin:0 0 0 50px;
    padding:0;
}

#footer .footbox li{
    margin:22px 0 0 0;
}

#footer div.last, #footer .latestgallery li.last{
    margin-right:0;
}

#footer .footbox li.last{
    margin-bottom:0;
}

/*------------------------------------------part final------------------------------------------*/

#hpage_latest .imgholder{
    display:block;
    width:260px;
    margin:0;
    padding:0 20px 22px 20px;
}

#hpage_latest p strong{
    display:block;
    margin-bottom:10px;
    font-size:22px;
    font-weight:normal;
    color:white;
}

#hpage_latest ul{
    margin:0;
    padding:0;
    list-style:none;
}


#hpage_latest li{
    display:block;
    float:left;
    width:300px;
    margin:0 30px 0 0;
    padding:0;
}

#hpage_latest li.last {
    margin-right:0;
}

#hpage_latest p {
    padding:0 20px;
    margin-bottom: 15px;
}

#hpage_latest{
    position:relative;
    margin:0 auto;
    display:block;
    width:960px;
    padding:30px 0 0 0;
}

#hpage_latest img{
    display:inline;
}
#topnav {
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.nav, .nav *{
    margin:0;
    padding:0;
    list-style:none;
}

.nav ul{
    position:absolute;
    top:-999em;
    width:10em;
}

.nav li{
    position:relative;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.nav a{
    display:block;
    position:relative;
}

/*---------Colores barra-----------------*/
.nav a{padding:.75em 1em;
    text-decoration:none;
    background-color:#E0E0E0;
}

.nav a, .nav a:visited, .nav li.active li a{
    color:#333333;
}






#gallery{
    position:relative;
    margin:0 auto;
    display:block;
    width:900px;
    padding-bottom:10px;
}

#gallery ul {
    margin:0;
    padding:0;
    list-style:none;
}

#gallery li{
    display:block;
    float:left;
    width:280px;
    margin:0 30px 20px 0;
    padding:0;
}

#gallery li a img{display:block;
    width:260px;
    height:130px;
    margin:0;
    padding:0;
    border:10px solid #E0E0E0;
}

#gallery li a:hover img{
    border-color:#B4B4B4;
}

#gallery li.last{
    margin-right:0;
}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:15px 0;
    font-size:12px;
    border-top:1px solid #999999;
}

#copyright a{color:#787878;
    background-color:#E0E0E0;
}

#copyright p{margin:0;
    padding:0;
}

/*-------------------------------------------------Media queries--------------------------------------*/
@media (max-width: 600px) {

   img{
       height: auto;
       max-width: 50%;
   }

    h1{
        margin: 1%;
    }


   header{
       font-size: 22%;
       float: right;
       padding-left: 15px;
   }
}

@media only screen and ( max-width: 700px ) {
    #hpage_latest {
        width: 100%;
    }

    .container{
        width: 100%;
    }

    #gallery {
        width: 100%;
    }
}

